#### ===================================================================================================================

# Datafiniti Mens Shoes

#### ===================================================================================================================

In [1]:
#Import Dependencies
import pandas as pd

In [2]:
#Create reference to CSV file
csv_path = "Datafiniti_Mens_Shoe_Prices.csv"

#Import the CSV into a pandas DataFrame
Mens_Shoes_df = pd.read_csv(csv_path, low_memory = False)
Mens_Shoes_df

,id,asins,brand,categories,colors,count,dateAdded,dateUpdated,descriptions,dimension,...,quantities,reviews,sizes,skus,sourceURLs,upc,vin,websiteIDs,weight,Unnamed: 48
0,AVpfHrJ6ilAPnD_xVXOI,NaN,Josmo,"Clothing,Shoes,Men's Shoes,All Men's Shoes",NaN,NaN,2016-11-07T00:45:12Z,2016-11-07T00:45:12Z,"[{""dateSeen"":[""2016-11-07T00:45:12Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,https://www.walmart.com/ip/Josmo-8190-Plain-In...,6.99302E+11,NaN,NaN,NaN,NaN
1,AVpfHrJ6ilAPnD_xVXOI,NaN,Josmo,"Clothing,Shoes,Men's Shoes,All Men's Shoes",NaN,NaN,2016-11-07T00:45:12Z,2016-11-07T00:45:12Z,"[{""dateSeen"":[""2016-11-07T00:45:12Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,https://www.walmart.com/ip/Josmo-8190-Plain-In...,6.99302E+11,NaN,NaN,NaN,NaN
2,AVpfHsWP1cnluZ0-eVZ7,NaN,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,NaN,2016-06-14T04:29:57Z,2016-07-09T20:26:48Z,"[{""dateSeen"":[""2016-07-09T20:26:48Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Studs-Shoe-Large-Pr-...,NaN,NaN,NaN,NaN,NaN
3,AVpfHsWP1cnluZ0-eVZ7,NaN,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,NaN,2016-06-14T04:29:57Z,2016-07-09T20:26:48Z,"[{""dateSeen"":[""2016-07-09T20:26:48Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Studs-Shoe-Large-Pr-...,NaN,NaN,NaN,NaN,NaN
4,AVpfHsWP1cnluZ0-eVZ7,NaN,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,NaN,2016-06-14T04:29:57Z,2016-07-09T20:26:48Z,"[{""dateSeen"":[""2016-07-09T20:26:48Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Studs-Shoe-Large-Pr-...,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19381,AVpfdSjlilAPnD_xcGPm,NaN,"Xray, XRay","Clothing, Shoes & Accessories,Men's Shoes,Boots",Black,NaN,2016-03-04T05:54:20Z,2016-03-04T05:54:20Z,NaN,NaN,...,NaN,NaN,12,"[{""sourceURLs"":[""http://www.ebay.com/itm/NEW-X...",http://www.ebay.com/itm/NEW-XRay-Hester-Mens-L...,6.57487E+11,NaN,NaN,NaN,NaN
19382,AVpf3bFWilAPnD_xjrQ2,NaN,Fila,"Clothing,Shoes,Men's Shoes,All Men's Shoes",NaN,NaN,2016-10-05T22:23:17Z,2016-10-05T22:23:17Z,"[{""dateSeen"":[""2016-10-05T22:23:17Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,https://www.walmart.com/ip/Fila-Men-s-Original...,7.89482E+11,NaN,NaN,NaN,NaN
19383,AVpf0fJXLJeJML43EVe9,NaN,Seek Optics,"Women's Sunglasses,Sunglasses,Bags & Accessori...",NaN,NaN,2016-01-02T02:39:11Z,2016-04-05T23:07:58Z,NaN,1 in x 1 in x 1 in,...,NaN,NaN,NaN,"[{""sourceURLs"":[""http://www.sears.com/content/...",http://www.sears.com/content/pdp/products/pric...,NaN,NaN,NaN,NaN,NaN
19384,AVpf0fJXLJeJML43EVe9,NaN,Seek Optics,"Women's Sunglasses,Sunglasses,Bags & Accessori...",NaN,NaN,2016-01-02T02:39:11Z,2016-04-05T23:07:58Z,NaN,1 in x 1 in x 1 in,...,NaN,NaN,NaN,"[{""sourceURLs"":[""http://www.sears.com/content/...",http://www.sears.com/content/pdp/products/pric...,NaN,NaN,NaN,NaN,NaN
19385,AVpf0fJXLJeJML43EVe9,NaN,Seek Optics,"Women's Sunglasses,Sunglasses,Bags & Accessori...",NaN,NaN,2016-01-02T02:39:11Z,2016-04-05T23:07:58Z,NaN,1 in x 1 in x 1 in,...,NaN,NaN,NaN,"[{""sourceURLs"":[""http://www.sears.com/content/...",http://www.sears.com/content/pdp/products/pric...,NaN,NaN,NaN,NaN,NaN

In [3]:
#Show the 'shape' of the dataframe 
shape = Mens_Shoes_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (19386, 49)

#### COLLECT ONLY REQUIRED COLUMNS

In [4]:
#Select only columns we need
Mens_Shoes_df = Mens_Shoes_df[["id", "brand", "colors", "name", "prices.amountMax",  "prices.currency", "prices.dateSeen",
                               "prices.isSale"]]

#Show the 'shape' of the dataframe
shape = Mens_Shoes_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (19386, 8)

In [5]:
#Print the dataframe
#Mens_Shoes_df

#### REMOVE ALL ROWS WHICH CONTAIN A CURRENCY OTHER THAN USD

In [6]:
#Get names of indexes for which column Currency has value other than USD
Mens_Shoes_df_indexnames = (Mens_Shoes_df[Mens_Shoes_df['prices.currency'] != "USD"]).index

#Delete these row indexes from dataframe
Mens_Shoes_df.drop(Mens_Shoes_df_indexnames, inplace=True)

#Show the 'shape' of the dataframe
shape = Mens_Shoes_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (18524, 8)

C:\Users\jingd\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [7]:
#Print the dataframe
#Mens_Shoes_df

#### REMOVE ALL ROWS WITH FALSE IN THE SALE COLUMN

In [8]:
#Get names of indexes for which column Currency has value other than USD
Mens_Shoes_df_indexnames = (Mens_Shoes_df[Mens_Shoes_df['prices.isSale'] == "FALSE"]).index

#Delete these row indexes from dataFrame
Mens_Shoes_df.drop(Mens_Shoes_df_indexnames, inplace=True)

#Show the 'shape' of the dataframe
shape = Mens_Shoes_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (5567, 8)

In [9]:
#Print the dataframe
#Mens_Shoes_df

In [10]:
#Drop the 'prices.isSale' column as it is now useless data - was used to siphon the non-Sale prices.
Mens_Shoes_df = Mens_Shoes_df.drop(['prices.isSale'], axis = 1)

#Show the 'shape' of the dataframe
shape = Mens_Shoes_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (5567, 7)

In [11]:
#Print the dataframe
#Mens_Shoes_df

#### FILTER THE DATE COLUMN TO CORRECT FORMAT(YYYY-MM-DD) AND REMOVE ANY 'EMPTY' COLUMN

In [12]:
#Filter out non-DateTime valued rows, and set value to "NaN"
Mens_Shoes_df['prices.dateSeen'] = pd.to_datetime(Mens_Shoes_df['prices.dateSeen'], errors = 'coerce')

#Drop all "NaN" valued rows in prices.dateSeen column
Mens_Shoes_df = Mens_Shoes_df.dropna(subset = ['prices.dateSeen'])

#Convert the price.dateSeen column to string (from TimeStamp due to previous function to_datetime used)
Mens_Shoes_df['prices.dateSeen'] = Mens_Shoes_df['prices.dateSeen'].astype(str)

#Convert column to list
dt_list = Mens_Shoes_df["prices.dateSeen"].tolist()

#Clean up the list to only show yyyy-mm-dd formate
w_date = []
for x in dt_list:
    w_date.append(x.split(" ")[0])

#Add the formated list into the dataframe as new column "Date"
Mens_Shoes_df["Date"] = w_date

#Drop all "NaN" valued rows in prices.dateSeen column
Mens_Shoes_df = Mens_Shoes_df.dropna(subset=['Date'])

#Drop the 'prices.dateSeen' column as it is now repleced with a 'Date' column
Mens_Shoes_df = Mens_Shoes_df.drop(['prices.dateSeen'], axis = 1)

#Show the 'shape' of the dataframe
shape = Mens_Shoes_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (5567, 7)

In [13]:
#Print the dataframe
#Mens_Shoes_df

#### FILTER THE NAME COLUMN TO COLLECT REQUIRED ROWS

In [14]:
#Define shoe list to filter out non-shoe items 
ShoeList = ['Sandals', 'Sandal', 'Shoe', 'Shoes', 'Boots', 'Boot', 'Sneakers', 'Sneaker', 'Loafers', 'Slippers', 
            'Runners', 'Trainers', 'Thongs', 'bootie', 'wedge', 'heel']

# Search for content in ShoeList and filter 
Mens_Shoes_df = Mens_Shoes_df[Mens_Shoes_df.name.str.contains('|'.join(ShoeList), case=False)]

#Drop all "NaN" value rows in the name column
Mens_Shoes_df = Mens_Shoes_df.dropna(subset=['name'])

#Show the 'shape' of the dataframe
shape = Mens_Shoes_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (2759, 7)

In [15]:
#Print the dataframe
#Mens_Shoes_df

#### FILTER THE COLOR COLUMN TO COLLECT REQUIRED ROWS

In [16]:
#Replace "," with "/", so we can split strings all together
colour_list = Mens_Shoes_df.colors.str.replace(',', '/')

#Loop through the list and pick out the first color before "/"
colour=[]
for x in colour_list:
    colour.append(str(x).split("/")[0])
    
#Create a new column with the simplified color
Mens_Shoes_df["Colours"] = colour

#Drop the 'color' column as it is now repleced with a 'Colour' column
Mens_Shoes_df = Mens_Shoes_df.drop(['colors'], axis = 1)

#Drop off rows with no brand
Mens_Shoes_df = Mens_Shoes_df.dropna(subset=['Colours'])

#Get names of indexes for which the Colours column has text containing "nan"
Mens_Shoes_indexNames = Mens_Shoes_df[Mens_Shoes_df['Colours'] == "nan"].index
Mens_Shoes_df.drop(Mens_Shoes_indexNames, inplace=True)

#Show the 'shape' of the dataframe
shape = Mens_Shoes_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (1742, 7)

In [17]:
#Print the dataframe
#Mens_Shoes_df

#### REMOVE ALL ROWS WITH NO DATA

In [18]:
#Filter out those rows which does not contain any data 
Mens_Shoes_df = Mens_Shoes_df.dropna() 

#Confirm rows are dropped
shape = Mens_Shoes_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (1740, 7)

In [19]:
#Print the dataframe
#Mens_Shoes_df

#### FILTER THE DATAFRAME AND DROP DUPLICATES, AND RE-ORDER

In [20]:
# Mens DF - Select Highest Price ID and Drop Duplicates 

# convert prices column to Float 
Mens_Shoes_df['prices.amountMax'] = pd.to_numeric(Mens_Shoes_df['prices.amountMax'], errors = 'coerce')

# sort DF based on Price
Mens_Shoes_df = Mens_Shoes_df.sort_values('prices.amountMax', ascending=False)

# Remove Duplicate ID rows 
Mens_Shoes_df.drop_duplicates(subset=['id'], inplace = True, keep = 'first')

#Confirm rows are dropped
shape = Mens_Shoes_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (1267, 7)

In [21]:
#Print the dataframe
#Mens_Shoes_df

#### ADD A COLUMN TO THE DATAFRAME AND FILL WITH 'Mens'

In [22]:
#Create an Gender column for Men's Shoes
Mens_Shoes_df['Gender'] = "Men's"

#Show the 'shape' of the dataframe
shape = Mens_Shoes_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (1267, 8)

In [23]:
#Print the dataframe
#Mens_Shoes_df

#### RENAME COLUMNS AND CORRECT THE INDEX FOR VISUAL PURPOSES

In [24]:
#The original dataframe had an index, so re-arrange the index 
Mens_Shoes_df.index = [x for x in range(1, len(Mens_Shoes_df.values)+1)]
Mens_Shoes_df.index.name = 'Index'

In [25]:
#Rename the columns for visual purposes
Mens_Shoes_df = Mens_Shoes_df.rename(columns = {"id":"ID", "brand":"Brand", "name":"Name", "prices.amountMax":"Price($)", 
                                                "prices.currency":"Currency", "prices.dateSeen":"Date"})

#Reorganise the columns for visualisation
Mens_Shoes_df = Mens_Shoes_df[['ID', 'Name', 'Brand', 'Colours', 'Price($)', 'Gender', 'Currency', 'Date']]

#Show the 'shape' of the dataframe
shape = Mens_Shoes_df.shape
print(f"The dataframes 'shape' is represented as: {shape}")

The dataframes 'shape' is represented as: (1267, 8)

#### PRINT THE RESULTING DATAFRAME

In [26]:
#Print the dataframe
Mens_Shoes_df

,ID,Name,Brand,Colours,Price($),Gender,Currency,Date
Index,,,,,,,,
1,AVpe6YWKLJeJML43yIru,Westridge Oiled Suede Boot,Ralph Lauren,Dark BrownDark Brown,729.99,Men's,USD,2016-02-21
2,AVpfIoidilAPnD_xVsOh,Saint Laurent Men's Leather High Top Sneaker S...,Saint Laurent,Silver,520.00,Men's,USD,2017-01-09
3,AVpfYMpY1cnluZ0-jsxG,Lucchese Landon Caiman Hornback Tail Boots,Lucchese,Brown,475.99,Men's,USD,2016-10-05
4,AVpfGXOdilAPnD_xU7eC,Kenetrek Men's Mountain Extreme Ni Boot Wide 9...,Kenetrek,Multicolor,450.00,Men's,USD,2016-11-11
5,AVpfzCC01cnluZ0-rdrP,Dan Post Western Boots Mens 11 Flank Caiman Co...,Dan Post,Sunset,439.95,Men's,USD,2016-03-21
...,...,...,...,...,...,...,...,...
1263,AVpfMMFe1cnluZ0-f1n3,Green Bay Packers Men's Big Logo Unisex Beach ...,Forever Collectibles,Green Bay Packers,9.99,Men's,USD,2017-01-09
1264,AVpfH-qmilAPnD_xVdqN,Keuka Suregrip Mens Rex Steel Toe Black Slip R...,Keuka SureGrip,Black,9.98,Men's,USD,2016-10-28
1265,AVpfoPnTLJeJML43Ax9a,Alpine Swiss Men's Flip Flops Beach Sandals Li...,Alpine Swiss,Black,7.99,Men's,USD,2016-08-23
1266,AVpe-ffCLJeJML43zoRk,Quiksilver Halewa Men Open Toe Synthetic Fli...,Quiksilver,Black,4.99,Men's,USD,2017-01-12
1267,AVpfpcd8ilAPnD_xfq0P,Op Men's Printed Flip Flop Sandal,Op,Grey Black White,2.00,Men's,USD,2015-11-03

#### SAVE DATAFRAME TO CSV

In [27]:
#Save dataframe as csv file
Mens_Shoes_df.to_csv('Mens_Shoes_df.csv')